<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div>
      <p>Counter = <%= counter %></p>      
      </div> 
      <div>
        <form method="POST" action="/increase-counter">
          <input type="submit" value="Increase by 1">
        </form>
      </div>
  </body>
</html>
